site_name: CallusSegmentation
site_url: https://rfroeling.github.io/CallusSegmentation/

repo_url: https://github.com/RFroeling/CallusSegmentation

nav:
  - Home: index.md
  - API overview: API.md

theme:
  name: material

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: google