site_name: CallusSegmentation
site_dir: 'public/'
docs_dir: 'docs'

nav:
  - Overview: index.md
  - API Reference: API.md

theme:
  name: material

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: google
