site_name: CallusSegmentation

nav:
  - Home: index.md
  - API overview: API.md

theme:
  name: material

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: google